{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext "Pass-Go - Share Secrets" }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/fontawesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link href="/static/passgo/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a  class="navbar-brand" href="/"><span>Pass-GO</span></a>
        </div>
      </div>
    </nav>

    {{block "content" .}}{{end}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ block "js" .}}{{end}}
  </body>
</html>
{{end}}
