{{template "base" .}}
{{define "content"}}
<div class="container">
  <section>
    <div class="page-header">
      <h1>{{ gettext "Secret" }}</h1>
    </div>
    <p>{{ gettext "Save the following secret to a secure location." }}</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text"
          readonly="readonly">{{.}}</textarea>
      </div>

      <div class="col-sm-6">
        <button title="{{ gettext "Copy to clipboard" }}" type="button" class="btn btn-primary copy-clipboard-btn"
          id="copy-clipboard-btn" data-clipboard-target="#password-text" data-placement='bottom'>
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
    <p>
      {{ gettext "The secret has now been permanently deleted from the system, and the URL will no longer work. Refresh this page to verify." }}
    </p>
  </section>
</div>
{{end}}

{{define "js"}}
<script src="/static/clipboardjs/clipboard.min.js"></script>
<script type="text/javascript">
  (function () {

    const targetButtonSelector = '#copy-clipboard-btn'
    const clipboard = new Clipboard(targetButtonSelector);

    const copyError = function (e) {
      let key;
      if (/Mac/i.test(navigator.userAgent)) {
        key = '&#8984;';
      } else {
        key = 'Ctrl';
      }
      $(e.trigger).attr('title', {{ gettext "'Press ' + key + '-C to copy'" }})
        .tooltip('fixTitle')
        .tooltip('show');
    };

    const copySuccess = function (e) {
      $(e.trigger).attr('title', {{ gettext "'Copied!'" }})
        .tooltip('fixTitle')
        .tooltip('show');
      e.clearSelection();

    };

    clipboard.on('success', copySuccess);
    clipboard.on('error', copyError);

    $(targetButtonSelector).tooltip();

  })();
</script>
{{end}}