<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ gettext "Pass-Go - Share Secrets" }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/fontawesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link href="/static/passgo/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a  class="navbar-brand" href="/"><span>Pass-GO</span></a>
        </div>
      </div>
    </nav>
    <div class="container">
      <section>
        <div class="page-header"><h1>{{ gettext "Share Secret" }}</h1></div>
        <div class="row">
          <form role="form" id="password_create" method="post" autocomplete="off">
            <div class="col-sm-6 margin-bottom-10">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="{{  gettext "Pass-Go allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click 'Generate URL'. Share the one-time use URL with your intended recipient." }}" aria-describedby="basic-addon1" autocomplete="off" required></textarea>
              </div>
            </div>

            <div class="col-sm-2 margin-bottom-10">
              <select class="form-control" name="ttl">
                <option value="1209600">{{ gettext "Two Weeks" }}</option>
                <option value="604800" selected="selected">{{ gettext "Week" }}</option>
                <option value="86400">{{ gettext "Day" }}</option>
                <option value="3600">{{ gettext "Hour" }}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary" id="submit">{{ gettext "Generate URL" }}</button>
            </div>
          </form>
        </div>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

